<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EO_Flashcards.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

    <userSettings>
        <EO_Flashcards.My.MySettings>
            <setting name="AdminPassword" serializeAs="String">
                <value>milk</value>
            </setting>
            <setting name="TotalCorrect" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TotalIncorrect" serializeAs="String">
                <value>0</value>
            </setting>
        </EO_Flashcards.My.MySettings>
    </userSettings>
</configuration>